<!-- <div class="card-container">

<div class="card">
    <img height="20px" width="50px" [src]="person.avatar" alt="Avatar">
    <div class="container">
      <h4><b>{{ person.name }}</b></h4>
      <p>Email: {{ person.email }}</p>
      <p>Age: {{ person.dob | age }}</p>

      <p>Country: {{ person.country }}</p>
    </div>
  </div>
</div> -->


<div class="container">
    <section class="mx-auto my-5" style="max-width: 23rem;">
        
      <div class="card testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
         
            <img  [src]="person.avatar" alt="Avatar" class="rounded-circle img-fluid">

        </div>
        <div class="card-body text-center">
          <h4  (click)="openEditModal(person)"><b>{{ person.name }}</b></h4>
          <hr>
            <i class="fas fa-quote-left"></i> 
            <p>Email: {{ person.email }}</p>
            <p>Age: {{ person.dob | age }}</p>
            <p>Country: {{ person.country }}</p>
        </div>
      </div>
      
    </section>
  </div>
  





  